@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.links,
.linksAdv {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
}

.links {
    text-align: right;
    justify-content: flex-end;
}

.linksAdv {
    background-color: #f1f1f1;
    justify-content: space-between;
}

.links a,
.linksAdv a {
    width: 80px;
    margin-right: 20px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 0.1s;
}

.links a {
    height: 44px;
    font-size: 14px;
    line-height: 44px;
}

.linksAdv a {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
}

.links a:hover {
    text-decoration: underline;
}

.search {

    margin: 0 auto;
    margin-top: 150px;
    width: 700px;

}

.name {
    font-size: 92px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    position: relative;

}

.nameAdv {
    font-size: 32px;
    font-weight: 500;
    margin-left: 20px;
    line-height: 60px;
}

.name p span:nth-child(1),
.nameAdv p span:nth-child(1) {
    color: #4285F4
}

.name p span:nth-child(2),
.nameAdv p span:nth-child(2) {
    color: #DB4437
}

.name p span:nth-child(3),
.nameAdv p span:nth-child(3) {
    color: #F4B400
}

.name p span:nth-child(4),
.nameAdv p span:nth-child(4) {
    color: #4285F4
}

.name p span:nth-child(5),
.nameAdv p span:nth-child(5) {
    color: #0F9D58
}

.name p span:nth-child(6),
.nameAdv p span:nth-child(6) {
    color: #DB4437
}

.advText {
    position: absolute;
    right: 25%;
    top: 85%;
    font-size: 16px;
}

.logo {
    width: 100%;
    height: 73px;
}

.logoText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 73px;
    margin-left: 46px;
    color: red;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

form {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 10px;
    outline-style: none;
    border-radius: 20px;
    font-size: 17px;
    border: none;
}

#search {
    width: 600px;
    height: 44px;
    padding-left: 20px;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.22);
}

#search:focus {
    -webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

#search:hover {
    -webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.25);
}



#submit {
    width: 150px;
    height: 34px;
    margin-top: 28px;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.22);
}

.advance {
    max-width: 1140px;
    margin-top: 40px;
    margin-left: 46px;

}

#advance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advInput {
    position: relative;
    width: 100%;
    height: 42px;
    margin: 10px 0;
    font-size: 13px;
    display: flex;
    justify-content: space-between;

}

.advInput .label {
    width: 182px;
    line-height: 0;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.advInput .input {
    width: 570px;
    align-self: flex-start;

}

.advInput .input input {
    width: 570px;
    height: 29px;
    padding: 1px 8px;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.26);
}

.advInput .input input:focus {
    border: 1px solid #4d90fe;
    -webkit-box-shadow: inset 0px 31px 2px -29px rgba(4, 1, 17, 0.13);
    box-shadow: inset 0px 31px 2px -29px rgba(4, 1, 17, 0.13);
}

.advInput .text {
    width: 370px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
}

.advInput .text .textInfo {
    margin-left: 0;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: normal;
    text-align: left;
    color: #555;
}

.btn {
    margin-top: 20px;
}

#submit1 {
    max-width: 183px;
    height: 30px;
    margin-top: 20px;
    float: right;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background: #4d90fe;
    color: white;


}

#submit1:hover {
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
}

@media (max-width: 1100px) {

    .advInput .label {
        min-width: 182px;
    }

    .advInput .text {
        opacity: 0;
    }

    .advInput .input input {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .advInput .label {
        min-width: 182px;
    }

    #input1,
    #input2,
    #input3,
    #input4 {
        min-width: 300px;
    }

    .btn #submit1 {
        max-width: 183px;
    }
}